html {
    background-color: #0d0d0d;
    scroll-behavior: smooth;
}
h1{
    font-weight: 200;
    font-size: 3vw; /*Scalable font*/
    margin-left: 3vw;
}
h1,h2, p,a {
    font-family: termina, monospace;
    color: #F2F2F2;
    margin-left: 3vw;
    margin-right: 5vw;
}
#pil:hover{
    cursor: pointer;
}
#pil, .pil {
    font-size: 2vw;
	max-width:1vw;
}
#first {
    background-color: #F2F2F2;
    margin-left: 3vw;
    width: 5vw;
}
hr {
    background-color: #F2F2F2;
    margin-left: 3vw;
    height: 2px;
    margin-right: 5vw;
    border: none;
}

/*different texts should scale differently*/
p{
    font-size: 1vw;
    margin-left: 3vw;
}

h2{
    font-size: 2vw;
    font-weight: 200;
    margin-left: 3vw;
}
#detaljer {
    text-align: left;
    padding: 0.5vw;
    
}
.MeldPå_knapp {
    border-style: solid;
    border-color: #F2F2F2;
    background-color: #0d0d0d;
    color: #F2F2F2;
    border-radius: 20px;
    border-width: 0.18em;
    font-family: termina, monospace;
    font-size: 1vw;
    padding: 0.5em;
    width: 20vw;
    margin-top: 10em;
    margin-bottom: 10em;
}
.MeldPå_knapp:hover {
    background-color: #F2F2F2;
    color: #0d0d0d;
    cursor: pointer;
}
.MeldPå_knapp:visited, .pil:visited {
    text-decoration: none;
}
.MeldPå_knapp:active, .pil:active {
    text-decoration: none;
}
.MeldPå_knapp:link, .pil:link {
    text-decoration: none;
}

